body {
  margin: auto;
  text-align: center;
  background-color: #54618C;
  font-family: 'Quicksand', sans-serif;
}

.results {
  margin-top: 10%;
  margin: 10px;
}

p {
  color: #DAAD1B;
  font-size: 2.5rem;
}

button {
  margin: 10px 20px 10px 20px;
  height: 4rem;
  width: 9rem;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  font-size: 1.5rem;
  background-color: #B543E0;
  border: 5px #5E2594 solid;
  border-radius: 5%;
}

.narrator {
  font-size: 2rem;
}

.play-again-button {
  background-color: #A563E1;
}