body {
  margin: auto;
  text-align: center;
  background-color: #4f4f4f;
}

h1, h2, h3 {
  color: gold;
}

.rock-button, .paper-button, .scissors-button {
 height: 2rem;
 width: 5rem; 
}

.play-again-button {
  height: 2.5rem;
  width: 5rem;
  margin: 20px;
}